<h2 class="page-header"><%= list.name %></h2>
<div class="form-row btn-row form-row-end">
    <%- include('../partials/deleteForm', { url: `/lists/${list.id}`}) %>
    <a class="btn btn-primary" href="/lists/<%= list.id %>/rename">Rename</a>
    <a class="btn btn-primary" href="/lists/<%= list.id %> ">Done editing</a>
</div>
<form action="/lists/<%= list.id %>/remove?_method=PUT" method="POST">
    <div class="movie-container">
        <% moviesInList.forEach(item => { %>
            <input class="checkbox" type="checkbox" name="movies" id="<%= item.id %>" value="<%= item.id %>">
            <label for="<%= item.id %>">
                <%- include('../partials/movieList', { movie: item }) %>
            </label>
        <% }) %>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-danger" type="submit">Remove selected from list</button>
    </div>
</form>
<hr>
<h2 class="page-header">Add movies</h2>
<%- include('../partials/movieSearchForm', { url: `/lists/${list.id}/edit` }) %>
<h2 class="page-header">Movies</h2>
<form action="/lists/<%= list.id %>?_method=PUT" method="POST">
    <div class="movie-container">
        <% moviesNotInList.forEach(item => { %>
            <input class="checkbox" type="checkbox" name="movies" id="<%= item.id %>" value="<%= item.id %>">
            <label for="<%= item.id %>">
                <%- include('../partials/movieList', { movie: item }) %>
            </label>
        <% }) %>
    </div>
    <div class="btn-row form-row form-row-end">
        <button class="btn btn-primary" type="submit">Add selected to list</button>
    </div>
</form>