<h2  class="page-header"><%= list.name %> </h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/lists/<%= list.id %>/edit">Edit</a>
</div>
<div class="movie-container">
    <% movies.forEach(item => { %>
        <%- include('../partials/movie', { movie: item }) %>
        <!-- <div class="btn-row">
            <a class="btn btn-primary" href="/movies/<%= item.id %>">View</a>
            <a class="btn btn-primary" href="/movies/<%= item.id %>/edit">Edit</a>    
        </div> -->
    <% }) %>
</div>